<div class="row">

  <form role="form" class="chat">
    <div class="form-group">
      <input class="form-control" placeholder="send message" autofocus>
    </div>
  </form>

  <p>
    <pre id="output"></pre>
  </p>
</div>
